body {
    /* background-color: black; */
    margin: 0;
    overscroll-behavior-y: none;
}
html, body {
	height: 100%;
}

/* Links */
a {
    color: black;
    text-decoration: none;
    -webkit-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    cursor: pointer;
}
a:hover {
    color: #858585 !important;
}

div#content {
	/* height: 100%;
  width: 100%; */

  /* background-image: url("../images/left_bg_dup.png"), url("../images/right_bg_dup.png");
  background-position-x: -100px, calc(100vw - 120px);
  background-repeat: repeat-y;
  background-size: 200px; */
}

div#flex-flow {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100%;
}

/* Header */
div#header {
  /* position: fixed; */
	flex-shrink: 0;
  left: 0;
  top: 0;
  /* width: 100%; */
  padding: 15px 19%;
  font-family: Montserrat;
  /* z-index: 5; */
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;

  border-bottom: 7px solid black;
  /* BG created using https://cojdev.github.io/lowpoly/ with HSL colors:
    (199,100,70), (245,52,76), (22,85,52) */
  /* background-image: url("../images/header_bg.png");
  background-size: 915px; */

  /* background-image: url("../images/nature_cover.jpg");
  background-size: cover; */

  background-color: #FFFFFF;
  background-image: linear-gradient(rgba(255,255,255,0) 290px, rgba(255,255,255,1) 580px), url("../images/nature_cover_small.jpg");
  background-repeat: no-repeat;
  background-size: 900px;
  background-position-x: center;

  padding-bottom: 300px;
  margin-bottom: -280px;
  border-bottom: 0;

  /* max-height: 255px; */
  z-index: 0;
  -webkit-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  overflow: hidden;
}

/* div#header.open {
  max-height: 500px;
} */

div#header a.break1, div#header a.break2 {
  flex-basis: 100%;
  height: 0;
}

div#header a {
  flex-grow: 1;
  flex-basis: 0;
  padding-bottom: 10px;
  position: relative;
}

div#header a:hover {
  color: white !important
}

div#nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-flow: row wrap;
  max-height: 0px;

  -webkit-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  overflow: hidden;
}

div#nav.open {
  max-height: 500px;
}

/* div#header .link {
  margin-top: 0;
  -webkit-transition: margin-top .5s ease-in-out, opacity 0.25s ease-in-out;
  -moz-transition: margin-top .5s ease-in-out, opacity 0.25s ease-in-out;
  -o-transition: margin-top .5s ease-in-out, opacity 0.25s ease-in-out;
  transition: margin-top .5s ease-in-out, opacity 0.25s ease-in-out;
}

div#header .link.hidden {
  opacity: 0;
  margin-top: -150px;
} */

div#header a.home {
  width: 200px;
  height: 200px;
  flex-basis: auto;
  position: relative;
}

div#header a.home img {
  width: 200px;
  padding: 0 40px 20px 40px;
  /* position:absolute;
  left:0; */
  -webkit-transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
}

div#header a.home img.top {
  opacity: 0;
  position: relative;
  top: -216.45px;
}
div#header a.home img.top:hover {
  opacity: 1;
}

div#header .icon {
  max-width: 30px;
  font-size: 1.7em;
  padding-bottom: 10px;
  display: inline-block;
}

div#header a.research .icon {
  font-size: 2.2em;
  padding-bottom: 1px;
}

/* Nav Menu Icon Animation */
#nav-icon1 {
  z-index: 10;
  width: 35px;
  height: 24px;
  position: relative;
  margin: 0 auto 20px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: black;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 10px;
}

#nav-icon1 span:nth-child(3) {
  top: 20px;
}

#nav-icon1.open span:nth-child(1) {
  top: 10px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 10px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
/* End Nav Menu Icon Animation */

/* Footer */
div#footer {
/*    position: fixed;*/
	flex-shrink: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  font-size: 20pt;
  /* background-color: rgba(255,255,255,0.5); */
  background-color: black;
  /* border-top: 2px solid darkgrey; */
  /* border-bottom: 2px solid darkgrey; */
  z-index: 1;
  width: 100%;
}

div#footer a {
	color: white;
  padding: 0 20px;
}

/* Body Elements */
div#body {
	z-index: 2;
	font-family: 'Open Sans', sans-serif;
	flex: 1 0 auto;

	display: flex;
  align-items: center;
  flex-direction: column;
  /* margin-top: 250px; */
  max-width: 900px;
  padding: 0 5%;
}

div#body .headline {
  font-size: 1.5em;
  font-family: 'Montserrat';
  margin: 50px 0;
  border-top: 2px solid black;
  padding: 20px 20px;
  border-bottom: 2px solid black;
}
div#body .headline span {
  display: block;
  text-align: center;
}

div#body .section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  flex-direction: column;
  margin-bottom: 30px;
  /* border: 4px solid black;
  background-color: #eee; */
  /* margin: 20px 0; */
}

div#body .section .image {
  text-align: center;
  max-width: 100%;
}

div#body .section .image video {
  max-width: 100%;
}

/* div#body .section .image .image-citation {
  display: none;
  position: absolute;
  margin-top: -15px;
  right: 3px;
  font-size: 0.7em;
} */

div#body .section .text {
  margin-bottom: 50px;
  padding: 30px;
  background-color: #eee;
  /* border: 2px solid #555; */
  text-align: justify;
}

div#body .section .text a {
  color: #858585;
}
div#body .section .text a:hover {
  color: black !important;
}
div#body .section .text .title a {
  color: black;
}
div#body .section .text .title a:hover {
  color: #858585 !important;
}

div#body .divider {
  width: 100%;
  border-top: 2px solid black;
  margin: 10px 0 40px 0;
}

div#body .section.introduction .text {
  margin-top: 50px;
  margin-bottom: 0;
}

div#body .section.introduction img {
  /* width: 100%; */
  width: 300px;
  /* border: 2px solid black; */
  /* border-radius: 5px; */
}

div#body .section .text .title {
  font-family: 'Montserrat';
  font-size: 1.4em;
  text-align: center;
  padding-bottom: 7px;
}

div#body .section img {
  max-width: 90%;
}

/* div#body .movie .image img, div#body .figure .image img {
  max-width: 100%;
} */

div#body .section.figures .figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div#body .caption {
  font-size: 0.8em;
  text-align: justify;
}

div#body .content.hidden {
  display: none;
}

div#body .buttons {
  margin: 20px 0;
  position: relative;
}

div#body .buttons>a {
  position: relative;
  display: inline;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  background-color: #858585;
  color: white;
}
div#body .buttons>a:hover {
  color: black !important;
  background-color: white;
}

/* div#body .buttons>a:before {
  content: " ";
  padding: 0px;
  position: absolute;
  z-index: -1;
  top: 5px;
  left: 5px;
  right: 5px;
  border-bottom: 2px solid black;
} */

div#body .buttons>a.active {
  color: black !important;
  background-color: white;
}

/* div#body .buttons>a.active:before {
  content: " ";
  padding: 22px;
} */

div#body .buttons>.underliner {
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  position: absolute;
  width: 140px;
  border-bottom: 2px solid black;
  top: 40px;
}

@media (min-width: 800px) {

  div#header {
    text-align: center;
    display: flex;
    align-items: center;
    /* flex-flow: row; */
    width: 100%;
    padding: 15px 0;
    background-size: cover;
    background-position: center;

    background-image: linear-gradient(rgba(255,255,255,0) 50%, rgba(255,255,255,1) 100%), url("../images/nature_cover_small.jpg");

    padding-bottom: 500px;
    margin-bottom: -480px;
    z-index: 0;
    border-bottom: 0;
  }

  /* div#header a.break1, div#header a.break2, div#header #nav-icon1 { */
  div#header a.break2, div#header #nav-icon1 {
    display: none;
    flex-basis: 0;
    height: 0;
  }

  div#header a.research, div#header a.photography {
    /* order: -1; */
  }

  div#header a {
    flex-grow: 1;
  }

  div#header a.home {
    max-width: 200px;
    padding: 0 40px;
  }

  div#nav {
    max-height: 500px;
  }

  div#body {
    padding: 0 4%;
  }

  div#body .headline span {
    display: inline;
    text-align: left;
  }
  div#body .headline span.not-last::after {
    content: "\0014\2014\0014"
  }

  div#body .section {
    max-width: 70%;
    padding: 20px;
  }

  div#body .section img {
    width: auto !important;
    max-width: none;
    height: 400px;
  }

  div#body .section.movie *, div#body .section.figures img {
    max-width: 90%;
    height: auto;
  }

}

@media (min-width: 900px) {

  div#content {
    background-position-x: -90px, calc(100vw - 190px);
    background-size: 250px;
  }

  div#header {
    width: 900px;
    padding: 15px calc(calc(100% - 900px) / 2);
    padding-bottom: 500px;
    margin-bottom: -450px;
  }

  div#body .divider {
    /* border: none; */
    display: none;
  }

  div#body .introduction {
    flex-direction: row;
    align-items: stretch;
    max-width: none;
  }
  div#body .section.introduction .text {
    margin-top: 0;
    display: flex;
    align-items: center;
  }
  div#body .section.introduction.left div.text {
    margin-left: 50px;
  }
  div#body .section.introduction.right div.text {
    margin-right: 50px;
  }

}

@media (min-width: 1400px) {

  div#header {
    background-position-y: 0px, -200px;
  }

  div#body {
    max-width: 1200px;
  }

  div#body .section {
    flex-direction: row;
    align-items: stretch;
    max-width: none;
  }

  div#body .section div.text {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    display: flex;
    align-items: center;
  }

  div#body .section img {
    max-width: none;
    height: 375px;
  }

  div#body .section .wtimage img {
    height: 300px;
  }

  div#body .section.right div.text {
    margin-right: 50px;
  }
  div#body .section.left div.text {
    margin-left: 50px;
  }
  div#body .section.right .image {
    order: 2;
  }
  div#body .section.left .image {
    order: -1;
  }

  div#body .movie {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  div#body .movie .image * {
    max-width: 600px;
  }

  div#body .section .image video {
    max-width: none;
  }
  div#body .movie #zea_movie {
    width: 600px;
    height: 335px;
  }
  div#body .movie #new_orbits_movie {
    width: 600px;
    height: 226.33px;
  }
  div#body .movie #gaia_movie {
    width: 600px;
    height: 321px;
  }

  div#body .movie .caption {
    padding-left: 20px;
  }

  div#body .section.figures {
    max-width: 100%;
  }
  div#body .section.figures .figure {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  div#body .section.figures .figure img {
    height: auto;
    max-width: 100%;
  }

}
